---
---

@import "{{ site.theme }}";

body {
	color: #c6c7c8;
	background-color: #2f2d2d;
}

.markdown-body .highlight pre, .markdown-body pre {
	background-color: #2b2b2b;
	line-break: anywhere;
}

.markdown-body pre code, .markdown-body pre tt {
	white-space: break-spaces;
}

.markdown-body img {
	background-color: #fff0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.markdown-body code {
	background-color: rgba(255, 255, 255, 0.08);
}

.highlight .k, .highlight .kv {
	color: #acacac;
}

.highlight .kt {
	color: #7a95e8;
}

.highlight .mi {
	color: #06bfbf;
}

.highlight .nb {
	color: #19B1E3;
}

.highlight .nc {
	color: #7a95e8;
}

.highlight .nf {
	color: #f25f5f;
}

.highlight .nt {
	color: #8b8bfd;
}

.highlight .o {
	color: #acacac;
}

.text-gray {
	color: #9ea7b0 !important;
}

a {
	color: #5ca1f0;
}